/* colors: blue = #283D9B
        off-white = #F7F3EA
        orange = #F79525
        light orange = #FBC268
        red = #F25A71 */

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F7F3EA;
  font-family: 'Open Sans', 'sans-serif';
  color: #e71433;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

h1 {
  font-family: 'Bagel Fat One', cursive;
  font-size: 70px;
  margin: 0 auto;
}

.halfpie-top {
  height: 170px;
  text-align: center;
  background-image: url('/img/halfpietop.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}

.halfpie-btm {
  height: 170px;
  text-align: center;
  background-image: url('/img/halfpiebtm.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}