/* colors: blue = #283D9B
        off-white = #F7F3EA
        orange = #F79525
        light orange = #FBC268
        red = #F25A71 */

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F7F3EA;
  font-family: 'Open Sans', 'sans-serif';
  color: #283D9B;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Bagel Fat One', cursive;
  font-size: 70px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.halfpie {
  height: 500px;
  background-image: url('/img/halfpietop.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
}