@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F7F3EA;
  font-family: 'Open Sans', 'sans-serif';
  color: #e71433;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

h1 {
  font-family: 'Concert One', cursive;
  font-size: 80px;
  margin: 10px 0 25px 0;
}

h2,
h3 {
  text-transform: capitalize;
}

p {
  margin: 0;
}

label {
  text-transform: capitalize;
  text-align: left;
}

.main-div {
  display: flex;
  justify-content: space-around;
}

.menu {
  width: 450px;
  margin: 0;
  padding: 0;
}

.price {
  font-weight: bold;
}

.menu-item {
  margin-bottom: 20px;
}

.your-own {
  width: 450px;
  margin: 0;
  padding: 0;
}

.halfpie-top {
  height: 170px;
  text-align: center;
  background-image: url('/img/halfpietop.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}

.halfpie-btm {
  height: 170px;
  text-align: center;
  background-image: url('/img/halfpiebtm.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}

#cart {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #aa0000;
  color: white;
  border: none;
  cursor: pointer;
}

#error {
  color: red;
}